
body {
   font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: italic;
  
  
}

h2 {
    border: solid 2px blue;
    background-color: aqua;
    width: 100px;
    height: 30px;
    overflow: hidden; /* מעלים את התוכן לתוך הגבול שנקבע */
    margin: 10px 20px 30px 40px;
}
.red {
    background-color: red;
    padding-top: 10px;
    border: 5px dotted black;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 40px;
}
#buttom {
    border: 3px solid black;
    padding: 10px 20px 30px 40px; /* כל ערך שמתווסף לפדינג הראשוני נותן עיצוב למקום אחר בקובייה */
    background-color: yellow;
    margin-top: 50px;
    text-align: center;
    font-size: larger;
    
}
a :link{
    color: red;

}
a:visited {
    color: rgb(240, 240, 240);
}
a:hover {
    color: rgb(21, 255, 0);
    text-decoration: none;
}
a:active{
    color: aqua;

}
h1{
    background-color: rgba(66, 23, 32, 0.5);
    position: fixed;
    color: white;
    text-align: center;
    margin-left: 30%;
    
}
h1:hover {
    background-color: darkorange;
    
}
h1:active{
    background-color: red;
}
li {
    background-color: black;
    color: white;
    display: inline-block;
    padding: 7px;
    list-style: none ;
    border: 2px solid red;
}
ul {
    margin: 0;
    padding: 0;
}
a {
    color: white;
}
span { 
    /*display: block; */
    border: 1px solid black;
    font-size: 1em;

}
#lorem::first-letter{
    color: red;
    font-size: 2em;
    
}
#lorem::first-line{
    color: darkred
}
#lorem::before{
   content: 'Before';
}
#lorem::after{
    content: 'After';
 }
 